<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JTI_Payroll_System.Properties.Settings.JtiPayrollSystem"
      connectionString="Data Source=DELAROSA;Initial Catalog=&quot;JTI PAYROLL SYSTEM&quot;;Integrated Security=True;TrustServerCertificate=True"
      providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>