<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="JtiPayrollSystem" 
         connectionString="Data Source=DELAROSA;Initial Catalog=JTI PAYROLL SYSTEM;Integrated Security=True;Trust Server Certificate=True;" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>