<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="JTI_Payroll_System.Properties.Settings.JtiPayrollSystem"
      connectionString="Server=localhost;Database=JTIPayrollDB;User Id=root;Password=12345678;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>